{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_catalog/session-popin

    This template renders a training catalog.

    Example context (json):
    {
        "session" : {
                "sessionstartdate" : "01/01/2022"
                "placesavailable" : true / false,
                "placesavailablemoreone" : true / false,
                "placesavailable" : 5,
                "onlinesession" : false / "4h30",
                "presencesession" : false / "10h10",
                "publiccible" : "Public cible",
                "accompaniment" : "Accompagnement",
                "location" : "Location",
                "organizingstructure" : "Organizing structure",
                "isselfenrolment" : true / false,
                "hasselfregistrationkey" : true / false,
                "isotherenrolement" : true / false,
                "isopenedregistration" : true / false,
                "message" : "<p>Message</p>,
        }
    }
}}

<p class="font-weight-bold">
    <i class="fa fa-calendar-o icon" aria-hidden="true"></i>{{ sessionstartdate }}
    {{# placesavailable }} -
        {{#placesavailablemoreone}}
            {{# str }} placesavailable, local_mentor_core, <span class="font-weight-bold">{{ placesavailable }}</span> {{/str}}
        {{/placesavailablemoreone}}
        {{^placesavailablemoreone}}
            {{# str }} placeavailable, local_mentor_core, <span class="font-weight-bold">{{ placesavailable }}</span> {{/str}}
        {{/placesavailablemoreone}}
    {{/ placesavailable }}
</p>

{{#onlinesession}}
    <p>
        <i class="fa fa-clock-o icon" aria-hidden="true"></i>{{# str }} onlineduration, local_catalog, <span class="font-weight-bold">{{ onlinesession }}</span>{{/str}}
        {{#presencesession}}
            - {{# str }} presenceduration, local_catalog, <span class="font-weight-bold">{{presencesession}}</span> {{/str}}
        {{/presencesession}}
    </p>
{{/onlinesession}}
{{^onlinesession}}
    {{#presencesession}}
        <p><i class="fa fa-clock-o icon" aria-hidden="true"></i>{{# str }} presenceduration, local_catalog, <span class="font-weight-bold">{{presencesession}}</span> {{/str}}</p>
    {{/presencesession}}
{{/onlinesession}}

<p><i class="fa fa-user-o icon" aria-hidden="true"></i>{{# str }} targetaudience, local_catalog {{/str}} : <span class="font-weight-bold">{{ publiccible }}</span></p>

<p><i class="fa fa-users icon" aria-hidden="true"></i>{{# str }} coaching, local_catalog {{/str}} : <span class="font-weight-bold">{{ accompaniment }}</span></p>

{{# location }}
    <p><i class="fa fa-map-marker icon" aria-hidden="true"></i>{{# str }} location, local_catalog {{/str}} : <span class="font-weight-bold">{{ location }}</span></p>
{{/ location }}

{{# organizingstructure }}
    <p><i class="fa fa-university icon" aria-hidden="true"></i>{{# str }} organizingstructure, local_catalog {{/str}} : <span class="font-weight-bold">{{ organizingstructure
    }}</span>
    </p>
{{/organizingstructure}}

{{# isenrol }}
    {{# isopenedregistration }}
        <p><i class="fa fa-exclamation-triangle icon" aria-hidden="true"></i>{{# str }} sessionnotstarted, local_catalog {{/str}}</p>
    {{/ isopenedregistration }}
{{/isenrol}}

{{# isselfenrolment }}
    {{# hasselfregistrationkey }}
        <div id="enrolmentkey-container">
            <label><i class="fa fa-key icon" aria-hidden="true"></i>{{# str }} enrolmentkey, local_catalog {{/str}} : </label><input type="text" id="enrolmentkey"/>
            <div class="enrolment-warning"></div>
        </div>
    {{/hasselfregistrationkey}}
{{/ isselfenrolment }}

{{# isotherenrolement }}
    {{{ message }}}
{{/ isotherenrolement }}
