{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_mentor_specialization/session

    This template renders the session management page.

    Example context (json):
    {
        "trainingadmincourselink": "link to the training management page",
        "recyclebinlink" : "link to the recycle bin page",
        "entityid" : 1,
        "subentitiesfilter" : [
            {
                "id" : 1,
                "name" : "Sub entity 1"
            },
            {
                "id" : 2,
                "name" : "Sub entity 2"
            }
        ],
        "collections" : [
            {
                "key" : 1,
                "value" : "Collection 1"
            },
        ],
        "status" : [
            {
                "key" : 1,
                "value" : "Status 1"
            },
        ]
    }
}}

<div id="sessions-buttons">
    <div id="sessions-buttons-filter">
        <div id="filter-title">
            <i class="fa fa-filter" aria-hidden="true"></i>{{# str }} sortby, local_mentor_specialization {{/ str }}
        </div>
        <div id="filter-actions">
            <div id="filter-input">
                <div id="sub-entity-filter">
                    <label for="sub-entity-select" class="fr-text--sm">{{# str }} subentity, local_mentor_core {{/ str }}</label>
                    <select name="sub-entity-select" class="custom-select" id="sub-entity-select" multiple="multiple">
                        <option value="{{ entityid }}">{{# str }} none, local_mentor_specialization {{/ str }}</option>
                        {{# subentitiesfilter }}
                            <option value="{{ id }}">{{ name }}</option>
                        {{/ subentitiesfilter }}
                    </select>
                </div>
                <div id="collection-filter">
                    <label for="collection-select" class="fr-text--sm">{{# str }} collections, local_mentor_specialization {{/ str }}</label>
                    <select name="collection-select" class="custom-select" id="collection-select" multiple="multiple">
                        {{# collections }}
                            <option value="{{ key }}">{{ value }}</option>
                        {{/ collections }}
                    </select>
                </div>
                <div id="start-filter">
                    <label for="start-select" class="fr-text--sm">{{# str }} sessionperiod, local_mentor_specialization {{/ str }}</label>
                    <div id="date-filter">
                        <div>
                            <input type="date" id="start-select" name="start-select" placeholder="{{# str }} start, local_mentor_specialization {{/ str }}">
                        </div>
                        <div>
                            <label for="end-select"></label>
                            <input type="date" id="end-select" name="end-select" placeholder="{{# str }} end, local_mentor_specialization {{/ str }}">
                        </div>
                    </div>
                </div>
                <div id="status-filter">
                    <label for="status-select" class="fr-text--sm">{{# str }} status, local_mentor_specialization {{/ str }}</label>
                    <select name="status-select" class="custom-select" id="status-select" multiple="multiple">
                        {{# status }}
                            <option value="{{ key }}">{{ value }}</option>
                        {{/ status }}
                    </select>
                </div>
            </div>
            <div class="filters-button">
                <button id="filter-apply" class="btn btn-primary"><i class="fa fa-filter" aria-hidden="true"></i>{{# str }} applyfilters, local_mentor_specialization {{/ str
                }}</button>
                <button id="filter-reset" class="btn btn-link">{{# str }} resetfilters, local_mentor_specialization {{/ str }}</button>
            </div>
        </div>
    </div>
    {{# recyclebinlink }}
        <a href="{{ recyclebinlink }}" id="recyclebin" class="btn btn-secondary" target="_blank" title="Corbeille" rel="opener">
            <span>
                {{# str }} trash, local_session {{/ str }}
            </span>
        </a>
    {{/recyclebinlink}}
</div>
<table id="session-table">
    <thead>
    <tr>
        <th class="min-size header-subentity">
            {{# str }} subentity, local_mentor_specialization {{/ str }}
        </th>
        <th class="no-sort collection-row-session-specification header-collections">
            {{# str }} collections, local_mentor_specialization {{/ str }}
        </th>
        <th class="header-trainingname">
            {{# str }} trainingname, local_mentor_specialization {{/ str }}
        </th>
        <th class="header-shortname">
            {{# str }} shortname, local_mentor_specialization {{/ str }}
        </th>
        <th class="min-size header-sessionnumber">
            {{# str }} sessionnumberbis, local_mentor_specialization {{/ str }}
        </th>
        <th class="timecreated-session header-startdate">
            {{# str }} startdate, local_mentor_specialization {{/ str }}
        </th>
        <th class="min-size header-participants">
            {{# str }} participants, local_mentor_specialization {{/ str }}
        </th>
        <th class="header-shared">
            {{# str }} shared, local_mentor_specialization {{/ str }}
        </th>
        <th class="header-status">
            {{# str }} status, local_mentor_specialization {{/ str }}
        </th>
        <th class="no-sort header-actions">
            {{# str }} actions, local_mentor_specialization {{/ str }}
        </th>
    </tr>
    </thead>
</table>

{{> local_session/move_session_popup }}
{{> local_session/delete_session_popup }}
