// Main colors
$maincolor: #000091;
$headerbgcolor: $white;
$maintitlecolor: #383838;
$titlecolor: $maintitlecolor;
$bgcolor: #f6f8fc;
$linkcolor: $maincolor;
$footercolor: #383838;
$footerbgcolor: $white;
$buttonhovercolor: #0909B9;
$coursetextcolor: #1e1e1e;
$mentortitlecolor: $maintitlecolor;
$breadcrumb-color: #6a6a6a;
$headerheight: 102px;
$headermobileheight: 138px;
$headershortmobileheight: 180px;
$popupheaderbgcolor: $maincolor;
$popupheadercolor: $white;
$outlinelinkcolor: #0a76f6;
$inputbgcolor: #f8f8f8;
$inputbordercolor: #6a6a6a;
$btnprimarycolor: $white;
$btnsecondarycolor: rgb(0, 0, 145);
$maincontentbgcolor: $white;

// Background color of the mentor card snippets
$consignebackgroudcolor: #297254;
$retenirbackgroudcolor: #55302A;
$plusloinbackgroudcolor: #6C6CBB;
$pratiquebackgroudcolor: #9A4D3A;
$definitionbackgroudcolor: #5770be;
$importantbackgroudcolor: #a63950;

// Quiz
$questionbackgroundcolor: #f9f8f6;

// Alert
$alertdanger: #ce0500;
$alertwarning: #b34000;
$alertsuccess: #18753c;
$alertinfo: #0063cb;

// Modal
$modaltextcolor: #3a3a3a;

// Size
$size-xl: 1366px;
$size-lg: 1024px;
$size-md: 667px;
$size-sm: 375px;
